/* @import url('https://fonts.google.com/specimen/Bebas+Neue'); */
html{
    background-color: #C0C5C1;
}
body{
    background-color: #C0C5C1;
}

/* Style de base pour le menu */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    background-color: #2A5159;
    border-radius: 10px;
    margin-top: 2%;
    position: relative;
}

.menu h1 {
    color: #F2F2F2;
    margin: 0;
    font-size: 50px;
    font-family: 'Rubik Scribble', sans-serif;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: #F2F2F2;
    padding: 10px 15px;
    display: none; /* Cache les liens par défaut en vue mobile */
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
    }

/* Style pour l'icône de menu */
.menu-icon {
    display: none;
    font-size: 2em;
    color: #F2F2F2;
    cursor: pointer;
}

/* Cache le checkbox */
.menu-toggle {
    display: none;
}
  
  /* Affichage responsive */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }
  
    .menu a, .menu h1 {
        text-align: center;
        width: 100%;
    }
  
    .menu-icon {
        display: block; /* Affiche l'icône du menu en vue mobile */
        position: absolute;
        top: 10px;
        right: 10px;
    }
  
    /* Affiche les liens quand le menu est ouvert */
    .menu-toggle:checked ~ a {
        display: block;
    }
  
    /* Amélioration de l'affichage des liens du menu */
    .menu a {
        border-top: 1px solid #fff;
        background-color: rgba(0,0,0,0.1);
    }
  
    .menu a:first-child {
        border-top: none;
    }
}
  
  /* Styles pour écrans plus larges */
@media (min-width: 769px) {
    .menu a {
        display: inline-block; /* Ré-affiche les liens du menu */
    }
}

body>div{
    margin: 7%;/*met de la marge de chaque côté du carré vert central (à l'extérieur)*/
}

body>div>div{
    padding: 5%;/*met de la marge de chaque côté du carré vert central (à l'intérieur)*/
    background-color: #2A5159;
    overflow-wrap: break-word;
    border-radius: 10px;
}



/*Mon bilan*/
h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #F2F2F2;
}



/*vingt-deux*/
/* Nouveau style pour les divs avec la classe "vingt-deux" */
/* Styles pour les divs avec la classe "vingt-deux" */
.vingt-deux {
    border: 2px solid #C0C5C1;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    float: left;
    margin-right: 20px;
    width: calc(33.33% - 20px);
    height: 180px;
}


/* Réglages pour les titres h3 à l'intérieur des divs vingt-deux */
.vingt-deux h4 {
    color: #C0C5C1;
    font-size: 18px; /* Réduire la taille du titre */
    text-align: center; /* Centrer le texte */
    margin-top: 0; /* Supprimer la marge supérieure */
    margin-bottom: 10px; /* Ajouter une marge inférieure */
}

.vingt-deux>p{
    color: #C0C5C1;
}

.vingt-deux>li{
    color: #C0C5C1;
}

/* Réglages pour les divs avec la classe "vingt-deux" en responsive */
@media (max-width: 768px) {
    .vingt-deux {
        width: calc(100% - 40px); /* Largeur de 100% moins les marges internes */
        float: none; /* Annuler le flottement */
        margin-right: auto; /* Réinitialiser la marge à automatique sur le côté droit */
        margin-left: auto; /* Centrer horizontalement en ajoutant une marge automatique sur le côté gauche */
        margin-bottom: 20px; /* Ajouter une marge inférieure */
        height: auto;
    }
    
}

h3{
    color:#C0C5C1;
    /* text-decoration: underline; */
    font-size: 30px; /* Taille du titre à 20 pixels */
    font-family: 'Rubik Scribble', sans-serif;
}

h4{
    font-family: 'Bebas Neue', 'sans-serif';
}

/* Réglages pour les écrans de petite taille */
@media (max-width: 768px) {
    h3 {
      text-align: center; /* Centrer le texte horizontalement */
    }
}

.progress-container {
    position: relative; /* Ajoutez cette ligne si manquante */
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 30px;
    margin: 20px 0;
}

.progress-text {
    position: absolute;
    width: 50%;
    text-align: center;
    line-height: 30px; /* Assurez-vous que cette hauteur correspond à celle de progress-container */
    color: #333; /* Choisissez une couleur bien visible */
    font-weight: bold;
    top: 0; /* Assurez-vous que c'est correctement positionné */
}


/* Barre de progression elle-même */
.progress-bar {
    height: 100%; /* Hauteur de la barre de progression pour remplir le conteneur */
    border-radius: 18px; /* Coins arrondis pour la barre */
    background-image: linear-gradient(to right, #4ca1af, #c4e0e5); /* Gradient de couleur de gauche à droite */
    width: 0%; /* Largeur initiale à 0, ajustable avec JS ou inline CSS */
    transition: width 1s ease-in-out; /* Transition fluide pour l'animation de la largeur */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); /* Ombre externe pour un effet de relief */
}




.vingt-trois {
    border: 2px solid #C0C5C1;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 99%;
    box-sizing: border-box;
    float: left;
    margin-right: 20px; 
    padding-bottom: 30px;
    margin-bottom: 50px;
}

/* Réglages pour les titres h3 à l'intérieur des divs vingt-deux */
.vingt-trois h4 {
    color: #C0C5C1;
    font-size: 18px; /* Réduire la taille du titre */
    text-align: center; /* Centrer le texte */
    margin-top: 0; /* Supprimer la marge supérieure */
    margin-bottom: 10px; /* Ajouter une marge inférieure */
}

.vingt-trois>p{
    color: #C0C5C1;
}

.vingt-trois>li{
    color: #C0C5C1;
}

/* Réglages pour les divs avec la classe "vingt-deux" en responsive */
@media (max-width: 768px) {
    .vingt-trois {
        width: calc(100% - 40px); /* Largeur de 100% moins les marges internes */
        float: none; /* Annuler le flottement */
        margin-right: auto; /* Réinitialiser la marge à automatique sur le côté droit */
        margin-left: auto; /* Centrer horizontalement en ajoutant une marge automatique sur le côté gauche */
        margin-bottom: 20px; /* Ajouter une marge inférieure */
    }
}

.vingt-quatre {
    background-color: #2A5159;
    border: 2px solid #C0C5C1;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(50% - 20px);
    box-sizing: border-box;
    float: left;
    margin-right: 20px; 
    padding-bottom: 30px;
    margin-bottom: 50px;
}

/* Réglages pour les titres h3 à l'intérieur des divs vingt-deux */
.vingt-quatre h4 {
    color: #C0C5C1;
    font-size: 18px; /* Réduire la taille du titre */
    text-align: center; /* Centrer le texte */
    margin-top: 0; /* Supprimer la marge supérieure */
    margin-bottom: 10px; /* Ajouter une marge inférieure */
}

.vingt-quatre>p{
    color: #C0C5C1;
}

.vingt-quatre>li{
    color: #C0C5C1;
}

/* Réglages pour les divs avec la classe "vingt-deux" en responsive */
@media (max-width: 768px) {
    .vingt-quatre {
        width: calc(100% - 40px); /* Largeur de 100% moins les marges internes */
        float: none; /* Annuler le flottement */
        margin-right: auto; /* Réinitialiser la marge à automatique sur le côté droit */
        margin-left: auto; /* Centrer horizontalement en ajoutant une marge automatique sur le côté gauche */
        margin-bottom: 20px; /* Ajouter une marge inférieure */
    }
}

.mention>a {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #F2F2F2;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    padding: 2%;
}

.vingt-cinq {
    border: 2px solid #C0C5C1;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    float: left;
    margin-right: 20px;
    width: calc(33.33% - 20px);
    height: 350px;
    color: #C0C5C1;
}


/* Réglages pour les titres h3 à l'intérieur des divs vingt-deux */
.vingt-cinq h4 {
    color: #C0C5C1;
    font-size: 18px; /* Réduire la taille du titre */
    text-align: center; /* Centrer le texte */
    margin-top: 0; /* Supprimer la marge supérieure */
    margin-bottom: 10px; /* Ajouter une marge inférieure */
}
.vingt-cinq>li{
    color: #C0C5C1;
}

.vingt-cinq>p{
    color: #C0C5C1;
}

/* Réglages pour les divs avec la classe "vingt-deux" en responsive */
@media (max-width: 768px) {
    .vingt-cinq {
        width: calc(100% - 40px); /* Largeur de 100% moins les marges internes */
        float: none; /* Annuler le flottement */
        margin-right: auto; /* Réinitialiser la marge à automatique sur le côté droit */
        margin-left: auto; /* Centrer horizontalement en ajoutant une marge automatique sur le côté gauche */
        margin-bottom: 20px; /* Ajouter une marge inférieure */
        height: auto;
    }
    
}