/* @import url('https://fonts.google.com/specimen/Bebas+Neue'); */
html{
    background-color: #C0C5C1;
}
body{
    background-color: #C0C5C1;
}

/* Style de base pour le menu */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    background-color: #2A5159;
    border-radius: 10px;
    margin-top: 2%;
    position: relative;
}
  
.menu h1 {
    color: #F2F2F2;
    margin: 0;
    font-size: 50px;
    font-family: 'Rubik Scribble', sans-serif;
    font-weight: bold;
}
  
.menu a {
    text-decoration: none;
    color: #F2F2F2;
    padding: 10px 15px;
    display: none; /* Cache les liens par défaut en vue mobile */
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
}
  
/* Style pour l'icône de menu */
.menu-icon {
    display: none;
    font-size: 2em;
    color: #F2F2F2;
    cursor: pointer;
}
  
  /* Cache le checkbox */
.menu-toggle {
    display: none;
}
  
  /* Affichage responsive */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }
  
    .menu a, .menu h1 {
        text-align: center;
        width: 100%;
    }
  
    .menu-icon {
        display: block; /* Affiche l'icône du menu en vue mobile */
        position: absolute;
        top: 10px;
        right: 10px;
    }
  
    /* Affiche les liens quand le menu est ouvert */
    .menu-toggle:checked ~ a {
        display: block;
    }
  
    /* Amélioration de l'affichage des liens du menu */
    .menu a {
        border-top: 1px solid #fff;
        background-color: rgba(0,0,0,0.1);
    }
  
    .menu a:first-child {
        border-top: none;
    }
}
  
  /* Styles pour écrans plus larges */
@media (min-width: 769px) {
    .menu a {
        display: inline-block; /* Ré-affiche les liens du menu */
    }

    h2{
        margin-right:23%;
    }
}

body>div{
    margin: 7%;/*met de la marge de chaque côté du carré vert central (à l'extérieur)*/
}

body>div>div{
    padding: 5%;/*met de la marge de chaque côté du carré vert central (à l'intérieur)*/
    background-color: #2A5159;
    overflow-wrap: break-word;
    border-radius: 10px;
}

div>div>h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 350%;
    color: #F2F2F2;
    margin-right: 0%;
    /* background-color: #F2F2F2;
    font-family: 'arial';
    border-radius: 30px; */
}

.quoi>h3{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #F2F2F2;
}

.quoi>p{
    color: #C0C5C1;
}

.quoi>li{
    color: #C0C5C1;
}

li[data-name="Arcep"] {
    margin-bottom: 20px; /* Marge en bas spécifique pour l'élément li avec data-name="Arcep" */
}

@media only screen and (max-width: 768px) {
    .quoi>h3{
        text-align: center;
    }

    .quoi>p{
        text-align: center;
    }
    
}
/*teste article*/


.page-container {
    text-align: center;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.article {
    width: calc(50% - 20px); /* Ajustez la largeur selon vos besoins */
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    position: relative;
}


.article-content {
    text-align: center;
}

.article-image {
    border-radius: 50%;
    max-width: 150px; /* Ajustez la largeur selon vos besoins */
    margin-bottom: 10px;
    margin: 0 auto; /* Centre l'image */
}

.article-info {
    text-align: center;
    color:#C0C5C1;
}

.horizontal-line {
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 10px 0;
}

.article-summary,
.your-opinion {
    text-align: center;
    color:#C0C5C1;

}

/* Ajout du style pour centrer le cadre autour de l'image */
.article::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: -1;
}

/*bouton*/

select {
    /* Ajoutez ici vos styles personnalisés */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    margin-bottom: 10px;
}

/* Media query pour les écrans plus petits (par exemple, les écrans de largeur maximale de 768 pixels) */
@media screen and (max-width: 768px) {
    .article {
        width: 100%; /* Met les articles à 100% de largeur sur des écrans plus petits */
    }
}

.mention>a {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #F2F2F2;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    padding: 2%;
}

@media screen and (max-width: 768px) {
    .mention {
        margin: left 23%;
    }
}